<div class="task" data-time="{{time}}" data-points="{{points}}">
    <div class="task-info-div">
        <input type="checkbox" id="task-check"> <span id="task-description">{{title}}</span> <span id="task-points">{{points}}</span>
    </div>
</div>