<div class="task" data-time="{{time}}" data-points="{{points}}">
    <div class="task-info-div">
        <input class="task-check" type="checkbox" id="task-check"> <span id="task-description">{{title}}</span> <span id="task-points">({{points}} points)</span>
    </div>
</div>