body
{
	background-color:  #0C0C0C;
}

.left-side-container {
	display: inline-block;
	margin-top: 0px;
	max-width: 310px;
	min-width: 300px;
}

.health {
	display: inline-block;
	width: 100%;
	margin-top: 0px;
}

.health-bar
{
	top: 30px;
	position: absolute;
	height: 50px;
	width: 150px;
	background-color: #50021B;
	margin-left: 50px;
	margin-top: 150px;
}

.hp-bottle
{
	top: 30px;
	position: absolute;
	margin-left: 50px;
}

.hp-bottle img
{
	position: absolute;
	height: 200px;
	width: 150px;
}

.stats
{
	margin-top: 100px;
	font-family: Crimson Pro;
	font-size: 15px;
	text-align: left;
	background-color: white;
	width: 100%;
	height: auto;
	padding: 5px;
	border: 5px black solid;
	display: inline-block;
}

.level
{
	font-weight: 100px;
	width: 120px;
}

.healthStat
{
	width: 120px;
}

.energyStat
{
	width: 120px;
}

.healthModifier
{
	width: 120px;
}

.energyModifier
{
	width: 120px;
}

.calendar
{
	height: 300px;
	width: 100%;
	border: 5px black solid;
	margin-bottom: 30px;
	display: inline-block;
}

.miscTasks
{
	width: 300px;
	height: 400px;
	background-color: white;
	border: 5px black solid;
	border-radius: 5px;
	overflow:hidden;
	float: left;
}

.miscTasks img
{
	height: 400px;
	opacity: 0.5;
}

.calendar img
{
	height: 300px;
	width: 300px;
}

.middle-container
{
	display: inline-block;
	margin-left: 50px;
	max-width: 600px;
	min-width: 400px;
}

.dailyTasks
{
	height: 700px;
	max-width: 600px;
	min-width: 400px;
	background-color: white;
	font-family: Crimson Pro;
	border: 5px black solid;
	overflow: hidden;
	border-radius: 5px;
	display: inline-block;	
	position: relative;
}

.dailyTasks:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.5;
	background-image: url('./paperTexture.jpg');
	background-repeat: no-repeat;
	background-position: relative;
	background-size: cover;
}

.right-side-container
{
	display: inline-block;
	min-width: 450px;
	margin-left: 100px;
	vertical-align: top;
}

.elf-container
{
	position: relative;
}

.elf {
	position: absolute;
	height: 750px;
	width: 450px;
}

.elf img {
	position: absolute;
	height: auto;
	width: 450px;
}

.normalElf:hover
{
	opacity: 0;
}

.dialogue-container
{
	position: relative;
	left: 50px;
	text-align: center;
	width: 300px;
}

.bubble
{
	width: 100%;
	height: auto;
}

#greetings
{
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#goodDay 
{
	position: absolute;
	top: 60px;
	transform: translate(-50%, -50%);
	font-size: 13px;
}

#badDay
{
	position: absolute;
	top: 60px;
	transform: translate(-50%, -50%);
	font-size: 13px;
}

#lowEnergy
{
	position: absolute;
	top: 60px;
	transform: translate(-50%, -50%);
	font-size: 13px;
}

#catAttack
{
	position: absolute;
	top: 60px;
	transform: translate(-50%, -50%);
	font-size: 13px;
}

.hidden {
	display: none;
	visibility: hidden;
}