<div class="left-side-container">
		<div class = "healthDisplay">
			<div class="health">
				<div class="health-bar">
				<!--
					This is the burgandy health bar. The size has to scale with the health stat. The HPBottle image has a border around it, so the box is hidden and looks like it fits inside of the bottle. The height of the bottle has to rise/fall with the health. Currently, all of this is static.
				-->
				</div>

				<div class="hp-bottle">
			<!--
				This is just a picture of a bottle with a mostly transparent background so that the health bar can be visible. There is a box around the bottle that is the same color as the background, so the bar will look like it is liquid inside of the bottle.
			-->
					<img src = "HPBottle.png" alt="Your bottle of HP">
				</div>
			</div>

			<div class= "stats">
			<!--
				Displays the user's stats. These will need to be variables, but for now they are static. The health and energy will scale with level, but the health and energy might change day by day by user input. Feel free to remove if wanted :D
			-->
				<span class = "level"> Level: 10 </span>
				<span class = "healthStat"> Health: 50/200 </span>
				<span class = "energyStat"> Energy: 50</span>
				<span class = "healthModifer"> -10 Health</span>
				<span class = "energyModifier"> -100 Energy </span>
			</div>
		</div>
		
		<div class = "calendar">
			<img src = "calendar.png" alt = "A December calendar.">
		</div>

		<div class = "miscTasks">
			<h1>Misc Quests</h1>
			<img src = "paperTexture.jpg" alt = "The texture of an old paper.">
			<div id = "miscTasks">
				<div class="task" data-time="800" data-points="10">
					<input type="checkbox" id="task-check"><span id="task-description">Example task #1</span> <span id="task-points">(10 points)</span>
				</div>
				<div class="task" data-time="800" data-points="25">
					<input type="checkbox" id="task-check"><span id="task-description">Example task #2</span> <span id="task-points">(25 points)</span>
				</div>
			</div>
		</div>
	</div>
	<div class="middle-container">
		<!--
			This is the middle container with the schedule.
		-->
		<div class = "dailyTasks">
			<h1>Daily Quests</h1>
			<img src = "paperTexture.jpg" alt= "The texture of an old paper.">
			<div  id = "tasks">
				{{#each tasks}}
                    {{> task}}
                {{/each}}
			</div>
		</div>
	</div>
	<div class="right-side-container">
		<div class="elf-container">
			<img src = "hoverLad.png" alt="Little elf is surprised by the mouse." class = "hoverElf elf">
			<img src= "Lad.png" alt="A little elf." class = "normalElf elf">
		

			<div class = "dialogue-container">
			<!--
				Different dialogue that can be cycled through depending on conditions. Again, feel free to remove this if you don't wanna bother with that.
			-->
				<img src = "textBubble.png" alt="A text bubble" class= "bubble">
				<span class = "dialogueText" id = "greetings"> Greetings traveler! </span>
				<!-- Daily greeting. -->
				<span class = "dialogueText hidden" id = "goodDay"> You've been quite successful today! You should reward yourself.</span>
				<!-- The user had a successful day. -->
				<span class = "dialogueText hidden" id = "badDay"> Today has been difficult for you... But, there's always tomorrow!</span>
				<!-- The user did not have a successful day. -->
				<span class = "dialogueText hidden" id = "lowEnergy"> Your energy is looking low! Remember to take a break when you need one...</span>
				<!-- If the user has entered a significant energy nerf. -->
				<span class = "dialogueText hidden" id = "catAttack"> Lord Snufflekins may be showing up soon... Be prepared. </span>
				<!-- The cat will show up soon. -->
			</div>
		</div>
	</div>

	<button type="button" id="new-task-button"><i class="fas fa-plus"></i></button>

	<div id="modal-backdrop" class="hidden"></div>
	<div id="new-task-modal" class="hidden">
		<div class="modal-dialog">
			<div class="modal-header">
				<h3>Add a new task to the Quest List</h3>
				<button type="button" id="modal-close" class="modal-hide-button">&times;</button>
			</div>

			<div class="modal-body">
				<div class="task-input-element">
					<label for="task-title-input">Task title</label>
					<input type="text" id="task-title-input"></input>
				</div>

				<div class="task-input-element">
					<label for="task-point-input">Task points</label>
					<input type="number" id="task-point-input"></input>
				</div>

				<div class="task-input-element">
					<label for="task-time-input">Time Due</label>
					<input type="time" id="task-time-input"></input>
				</div>

				<div class="task-input-element">
					<fieldset id="task-category-fieldset">
						<legend>Task Category</legend>
						<div>
							<input type="radio" name="task-category" id="task-category-daily" value="daily" checked>
							<label for="task-category-daily">Daily</label>
						</div>
						<div>
							<input type="radio" name="task-category" id="task-category-misc" value="misc">
							<label for="task-category-misc">Misc</label>
						</div>
					</fieldset>
				</div>

				<div class="modal-footer">
					<button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
					<button type="button" id="modal-accept" class="action-button">Create Task</button>
				</div>
			</div>
		</div>
	</div>
</div>