body
{
	background-color:  #0C0C0C;
}

.left-side-container {
	display: inline-block;
	margin-top: 0px;
	max-width: 310px;
	min-width: 300px;
}

.health {
	display: inline-block;
	width: 130px;
	height: 25px;
	margin-top: 0px;

}

.health-bar
{
	top: 30px;
	position: absolute;
	height: 25px;
	width: 100px;
	background-color: #50021B;
	margin-left: 30px;
	margin-top: 125px;
}

.hp-bottle
{
	top: 30px;
	position: absolute;
	margin-left: 25px;
}

.hp-bottle img
{
	position: absolute;
	height: 150px;
	width: auto;
}

.stats
{
	font-family: Crimson Pro;
	font-size: 15px;
	text-align: left;
	background-color: white;
	width: 100px;
	height: 100px;
	padding: 5px;
	border: 5px black solid;
	display: inline-flex;
	flex-wrap: wrap;
	margin-left: 10px;
}

.level
{
	font-weight: 100px;
	width: 120px;
}

.healthStat
{
	width: 120px;
}

.energyStat
{
	width: 120px;
}

.healthModifier
{
	width: 120px;
}

.energyModifier
{
	width: 120px;
}

.calendar
{
	width: 300px;
	height: auto;
	border: 5px black solid;
	margin-bottom: 30px;
	display: inline-block;
}

.miscTasks
{
	width: 300px;
	height: 400px;
	background-color: white;
	border: 5px black solid;
	border-radius: 5px;
	text-align: center;
	position: relative;
}

.miscTasks img
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

.miscTasks h1
{
	font-family: Crimson Pro;
	position: relative;
	margin: auto;
	vertical-align: middle;
	font-size: 46px;
	z-index: 2;
}

.calendar img
{
	width: 300px;
	height: auto;
}

.middle-container
{
	display: inline-block;
	margin-left: 50px;
	max-width: 800px;
	min-width: 650px;
}

.dailyTasks
{
	height: 700px;
	max-width: 800px;
	min-width: 650px;
	background-color: white;
	font-family: Crimson Pro;
	border: 5px black solid;
	overflow: hidden;
	border-radius: 5px;
	display: inline-block;	
	position: relative;
	text-align: center;
}

.dailyTasks img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

.dailyTasks h1
{
	position: relative;
	margin: auto;
	vertical-align: middle;
	font-size: 46px;
	z-index: 2;
}

.task {
	text-align: left;
	padding-left: 15px;
	color: white;
	position: relative;
	max-width: 80%;
	margin-right: 15px;
	margin-left: 15%;
	background-color: hsl(8, 88%, 28%);
	border-radius: 50px;
	z-index: 2;
	margin-top: 15px;
}

.right-side-container
{
	display: inline-block;
	min-width: 450px;
	margin-left: 10px;
	vertical-align: top;
}

.elf-container
{
	position: relative;
}

.elf {
	position: absolute;
	margin-top: 100px;
	height: 600px;
	width: auto;
}

.elf img {
	position: absolute;
	height: 600px;
	width: auto;
}

.normalElf:hover
{
	opacity: 0;
}

.dialogue-container
{
	position: relative;
	left: 50px;
	text-align: center;
	width: 300px;
}

.bubble
{
	width: 100%;
	height: auto;
}

#greetings
{
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#goodDay 
{
	position: absolute;
	top: 60px;
	transform: translate(-50%, -50%);
	font-size: 13px;
}

#badDay
{
	position: absolute;
	top: 60px;
	transform: translate(-50%, -50%);
	font-size: 13px;
}

#lowEnergy
{
	position: absolute;
	top: 60px;
	transform: translate(-50%, -50%);
	font-size: 13px;
}

#catAttack
{
	position: absolute;
	top: 60px;
	transform: translate(-50%, -50%);
	font-size: 13px;
}

.hidden {
	display: none;
	visibility: hidden;
}